// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './app/styles/themes/theme.scss' as theme;
@use 'material-symbols';


body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background: var(--mat-sys-background);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  
    // Keep this last.
  @include theme.go((
  color: (
    primary: mat.$azure-palette,
    tertiary: mat.$rose-palette,
  ),
  typography: Roboto,
  density: 0,
  ));

  .dark-theme {
    color-scheme: dark;
  }

  .light-theme {
    color-scheme: light;
  }

  .light-dark-theme {
    color-scheme: light-dark;
  }

 .color-green {
    @include theme.go((
      color: (
        primary: mat.$green-palette,
        tertiary: mat.$spring-green-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
  }

  .color-azure {
   @include theme.go((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$rose-palette,
    ),
    typography: Roboto,
    density: 0,
    ));
  }

  .color-red {
    @include theme.go((
      color: (
        primary: mat.$red-palette,
        tertiary: mat.$green-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
  }

  .color-blue {
    @include theme.go((
      color: (
        primary: mat.$blue-palette,
        tertiary: mat.$spring-green-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
  };

}
