:host {
   .center-page {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      align-items:center;
      min-height: 100vh;
   }

   .form-color {
      border: solid 1px ;
      border-radius: 10px;
      padding: 25px;
      justify-content: space-between;    
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), /* Softer main shadow */
              0 1px 3px rgba(0, 0, 0, 0.08); /* Tighter, darker shadow */      
      h4 {
         padding-bottom: 10px;
      } 
   }

}