@use '@angular/material' as mat;


.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  
  display: flex;
  align-items: center;
  
   @include mat.toolbar-overrides((
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-primary),
   ));

   @include mat.icon-overrides((
      color: var(--mat-sys-primary)
   ));

   font: var(--mat-sys-label-large);
} 

.nav-left {
   display: flex;
   align-items: center;
 
}

mat-icon:hover {
   cursor: pointer;
   font-variation-settings:
         'FILL' 1,
         'wght' 400,
         'GRAD' 0,
         'opsz' 24;
   }

.nav-right {
   margin-left: auto;
   display: flex;
   align-items: center;
   justify-content:right;
   }

.header-element {
  display: inline-flex;

  a {
   padding: 5px;
   border-radius: 10%;
  }
  a:hover {
   background-color: var(--mat-sys-on-primary);
   cursor: pointer;
  }
}