  <mat-toolbar>
   <div class="nav-left">
      <button mat-icon-button class="example-icon">
         <mat-icon>menu</mat-icon>
      </button>
    
      <div class="header-element">
         <a routerLink="/home" class="logo">Home</a>
      </div>

      <div class="header-element">
            Theme
      </div>
    </div>

    <div class="nav-right">
        <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon">
     <mat-icon>share</mat-icon>
    </button>

    </div>
  </mat-toolbar>
  