  <mat-toolbar>
   <div class="nav-left">
      <button mat-icon-button class="example-icon">
         <mat-icon>menu</mat-icon>
      </button>
    
      <div class="header-element">
         <a routerLink="/home" class="logo">Home</a>
      </div>

      <div class="header-element">
      <a routerLink="/theme">Theme</a>
      </div>
    </div>

    <div class="nav-right">
      <div class="header-element">
        <button mat-icon-button (click)="onClick('light')" >
            <mat-icon fontSet="material-symbols-outlined">light_mode</mat-icon>
        </button>
      </div>

      <div class="header-element">
         <button mat-icon-button (click)="onClick('dark')">
            <mat-icon  fontSet="material-symbols-outlined">dark_mode</mat-icon>
         </button>
      </div>

      <div class="header-element">
         <a routerLink="/register" >Register</a>
      </div>
      <div class="header-element">
         <a routerLink="/login" >Login</a>
      </div>

    </div>
  </mat-toolbar>
  